


<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Sen2SenCorrection</title>
 <!--  
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   -->

<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
button{text-align: center}
</style>

</head>

<body style="background-color:powderblue;">
 <div class="login">
  <h1>Sentence to Sentence Correction</h1>
  <br>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="/predict"method="post">
      <input id='corrupted_text' type="text" name="corrupted_text" placeholder="corrupted text" required="required" /><br><br>
     
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>